:host {
    --main-collor: #FAF7F0;
    --second-collor: #D8D2C2;
    --third-collor: #B17457;
    --fourth-collor: #4A4947;
    font-family: Poppins, sans-serif;
    width: 100%;
    display: block;
}

.navbar {
    background-color: var(--third-collor);
    margin: 0;
    padding: 10px 40px; /* Added horizontal padding */
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
    box-sizing: border-box; /* This ensures padding is included in width */
}

.logo {
    margin-right: auto;
    width: 90px;
    height: 80px;
}

.nav-links {
    display: flex;
    align-items: center;
}

.center-links {
    flex: 1;
    justify-content: center;
}

.right-links {
    justify-content: flex-end;
    min-width: 200px; /* Ensures space for register/login links */
}

.nav-link {
    color: var(--second-collor);
    font-size: 25px;
    font-family: Poppins, sans-serif;
    margin: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--fourth-collor);
}

.nav-link.active {
    color: var(--fourth-collor);
    font-weight: bold;
}

.nav-link.logout-button {
    background: none;
    border: none;
    color: var(--second-collor);
    font-size: 25px;
    font-family: Poppins, sans-serif;
    cursor: pointer;
  }
  
.nav-link.logout-button:hover {
    color: var(--fourth-collor);
}
  