<div id="rest-of-body">
    <!-- Alert component -->
    <div *ngIf="alertInfo.show" class="alert-container">
        <div [ngClass]="{'alert-success': alertInfo.type === 'success', 'alert-error': alertInfo.type === 'error'}">
            {{ alertInfo.message }}
        </div>
    </div>

    <div id="preferences">
        <h2 id="preferences-title">Preferences</h2>
        <form [formGroup]="preferencesForm">
            <div class="preference-row">
                <label for="ufoSlider">Number of UFOs: </label>
                <input 
                    type="range" 
                    id="ufoSlider" 
                    formControlName="ufoCount"
                    min="1" 
                    max="5" 
                    (input)="updateUfoCount($event)">
                <span id="ufoCountDisplay">{{ ufoCount }} 🛸</span>
            </div>

            <div class="preference-row">
                <label for="timeSlider">Time in seconds: </label>
                <input 
                    type="range" 
                    id="timeSlider" 
                    formControlName="timeCount"
                    min="60" 
                    max="180" 
                    step="60"
                    (input)="updateTimeCount($event)">
                <span id="timeCountDisplay">{{ timeCount }} seconds</span>
            </div>

            <div class="button-group">
                <button type="button" (click)="saveLocal()">Save local</button>
                <button type="button" (click)="getLocal()">Get local</button>
                <button type="button" [disabled]="!isLoggedIn" (click)="saveServer()">Save on server</button>
                <button type="button" [disabled]="!isLoggedIn" (click)="getFromServer()">Get from server</button>
                <button type="button" (click)="handleAccept()">Accept</button>
            </div>
        </form>
    </div>
</div>